.app-header{
    background:#FFC288;
    padding: 1rem;
    height:2rem;
    font-size:24px;
    font-weight:bold;
    font-family: "Noto Serif JP";
    display: flex;
    align-items: center;
}

.logo-img{
    width:30px;
    margin-right:1rem;
}

.app-container{
    text-align: center;
    padding: 3rem;
}
.app-container .MuiSvgIcon-root{
    fill: #FF6701;
}
.app-container .MuiFormLabel-root.Mui-focused{
    color: #000;
}
.app-container .MuiFilledInput-underline:after{
    border-bottom: #000;
}